extends layout

block content
  .section#credentials
    .columns
      .column.is-narrow.div.mcenter
        .card
          .card-content
            .content
              form.tcenter(id='credentials')
                h4 Enter your Anilist.co username:
                .field
                  p.control.tcenter
                    input(type='text' id='anilist-username' placeholder='anilist username')
                  .anilist-error.error
                h4 Enter your MyAnimeList credentials:
                p These will never be stored.
                .field
                  p.control.tcenter
                    input(type='text' id='mal-username' placeholder='mal username')
                .field
                  p.control.tcenter
                    input(type='password' id='mal-password' placeholder='mal password')
                  .mal-error.error
                .field
                  p.control.tcenter
                    button.button#submit Submit