doctype html
html(lang="en-US")
  head
    meta(charset="utf-8")
    title Douki
    meta(name="description" content="Sync your Anilist.co anime list to MAL")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700")
    link(rel="stylesheet" href="bulma.css")
    link(rel="stylesheet" href="style.css")
    link(rel="icon" href="favicon.ico?v=2")
  body
    nav
      h1 Douki
      p Sync your Anilist.co anime list to MAL
    main        
      block content

      block warning
        .section
          .section.div
            .card
              header.card-header
                p.card-header-title Warnings and Disclaimer
              .card-content
                .content
                  p #[em Use this service at your own risk!] 
                  p This service is in #[em beta] stage. It is strongly recommended that you use a temporary MAL account for testing rather than your main account.
                  p This application is open source. You can examine the code #[a(href='https://github.com/gilmoreg/douki' target='_blank') here]. Please report problems on the #[a(href='https://github.com/gilmoreg/douki/issues' target='_blank') Gitub Issues page].

      block footer
        footer
          p Douki © 2017-2018 by #[a(href="http://gilmoreg.com" target="_blank") Grayson Gilmore]. All rights reserved.
      
      block scripts
        script(type="text/javascript" src="bundle.js")
        script.
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-100816860-3', 'auto');
          ga('send', 'pageview');
