doctype html
html(lang="en-US")
  head
    meta(charset="utf-8")
    title Ani2mal
    meta(name="description" content="Sync your Anilist.co anime list to MAL")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700")
    link(rel="stylesheet" href="bulma.css")
    link(rel="stylesheet" href="style.css")
  body
    nav
      h1 Ani2mal
    block content

    block warning
      .section
        .section.div
          .warnings
            p #[strong Warning]: this application is in #[em alpha] stage. It is strongly recommended that you use a temporary MAL account for testing rather than your main account. Use at your own risk!
            p Note: a future update to Anilist.co will greatly reduce or perhaps even eliminate the large number of shows that are not matched. It will probably also eliminate the chance of erroneous matches. This application will not leave alpha stage until that happens.
            p This application is open source. You can examine the code #[a(href='https://github.com/gilmoreg/ani2mal' target='_blank') here]. Please report problems on the #[a(href='https://github.com/gilmoreg/ani2mal/issues' target='_blank') Gitub Issues page].

    block footer
       footer
        p Ani2Mal © 2017 by #[a(href="https://github.com/gilmoreg/" target="_blank") Grayson Gilmore]. All rights reserved.
  </footer>
    script(type="text/javascript" src="bundle.js")