extends layout

  block content
    form(method='POST' action='/login')
        div.form-group
          label(for='username') Username
          input.form-control(type='text' id='username' placeholder='username' name='username')
        div.form-group
          label(for='password') Password
          input.form-control(type='password' id='password' placeholder='password' name='password')
        button.btn.btn-primary(type='submit') Log in 