extends layout

block content
  .section#sync
    p.tcenter
        button.button#reset Start Over
    .section.div#current
      .card
          header.card-header
            p.card-header-title Status
          .card-content
            .content
              progress.progress.is-primary(value='0' max='100')
              #status-message
    .section.div
      .card
        header.card-header
          p.card-header-title Results
        .card-content
          .content
            ol#results
    .section.errors.div
      .card
        header.card-header
          p.card-header-title Errors
        .card-content
          .content
            p #[span#error-count]
            ul#errors
