extends layout

block content
  .section#credentials
    .columns
      .column.is-narrow.div.mcenter
        .card
          .card-content
            div(style='max-width: 400px;')
              h2 NOTICE: MyAnimeList has shut down their API due to security concerns. Douki will not function until they renable it. #[a(href='https://animeuknews.net/2018/05/myanimelist-requiring-password-resets/' target='_blank') Click here for more information].
            .content
              form.tcenter(id='credentials')
                h4 Enter your Anilist.co username:
                .field
                  p.control.tcenter
                    input(type='text' id='anilist-username' placeholder='anilist username')
                  .anilist-error.error
                h4 Enter your MyAnimeList credentials:
                p These will never be stored. #[i(id='help' class='fa fa-question-circle-o' aria-hidden='true')]
                .field
                  p.control.tcenter
                    input(type='text' id='mal-username' placeholder='mal username')
                .field
                  p.control.tcenter
                    input(type='password' id='mal-password' placeholder='mal password')
                  .mal-error.error
                .field
                  p.tcenter Sync Type: #[i(id='sync-help' class='fa fa-question-circle-o' aria-hidden='true')]
                  ul.sync-type-list
                    li
                      label(class='radio')
                        input(type='radio' name='sync-type' value='update' checked)
                        span Update
                    li
                      label(class='radio')
                        input(type='radio' name='sync-type' value='all')
                        span Full
                .field
                  p.control.tcenter
                    button.button#submit Submit
  .section.hidden#sync
    p.tcenter
        button.button#reset Start Over
    .section.div#current
      .card
          header.card-header
            p.card-header-title Status
          .card-content
            .content
              progress.progress.is-primary(value='0' max='100')
              #status-message
    .section.div
      .card
        header.card-header
          p.card-header-title Results
        .card-content
          .content
            ol#results
    .section.errors.div
      .card
        header.card-header
          p.card-header-title Errors
        .card-content
          .content
            p #[span#error-count]
            ul#errors
  .modal#helpModal
    .modal-background
    .modal-content
      .box(style='max-width: 400px; margin: 0 auto')
        h4.tcenter Why do I have to enter my password?
        p This is to ensure that only the owners of MyAnimeList accounts can modify their lists.
        h4.tcenter Is it secure?
        p Douki uses the same technology that MAL does for security. Your credentials will be passed along to MAL to make sure you are a valid user, and then immediately discarded.
    button.modal-close
  .modal#syncTypeModal
    .modal-background
    .modal-content
      .box(style='max-width: 400px; margin: 0 auto')
        h4.tcenter Update
        p The default sync type. Douki will only modify items which do not already exist or have changed on Anilist since the last sync. This is the best option even for your first sync. However, it will miss changes to "rewatch" or "reread" values (due to an error on MAL's side).
        h4.tcenter Full
        p Douki will sync every item in your lists regardless of whether they have changed. The only use for this is if you have changed a rewatch or reread value on Anilist and you want it to be updated on MAL.
    button.modal-close
