extends layout

block content
  .section#credentials
    .columns
      .column.is-narrow.div.mcenter
        .card
          .card-content
            .content
              form.tcenter(id='credentials')
                h4 Enter your Anilist.co username:
                .field
                  p.control.tcenter
                    input(type='text' id='anilist-username' placeholder='anilist username')
                  .anilist-error.error
                h4 Enter your MyAnimeList credentials:
                p These will never be stored. #[i(id='help' class='fa fa-question-circle-o' aria-hidden='true')]
                .field
                  p.control.tcenter
                    input(type='text' id='mal-username' placeholder='mal username')
                .field
                  p.control.tcenter
                    input(type='password' id='mal-password' placeholder='mal password')
                  .mal-error.error
                .field
                  p.control.tcenter
                    button.button#submit Submit
  .section.hidden#sync
    p.tcenter
        button.button#reset Start Over
    .section.div#current
      .card
          header.card-header
            p.card-header-title Status
          .card-content
            .content
              progress.progress.is-primary(value='0' max='100')
              #status-message
    .section.div
      .card
        header.card-header
          p.card-header-title Results
        .card-content
          .content
            ol#results
    .section.errors.div
      .card
        header.card-header
          p.card-header-title Errors
        .card-content
          .content
            p #[span#error-count]
            ul#errors
  .modal#helpModal
    .modal-background
    .modal-content
      .box(style='max-width: 400px; margin: 0 auto')
        h4.tcenter Why do I have to enter my password?
        p This is to ensure that only the owners of MyAnimeList accounts can modify their lists.
        h4.tcenter Is it secure?
        p Ani2Mal uses the same technology that MAL does for security. Your credentials will be passed along to MAL to make sure you are a valid user, and then immediately discarded.
    button.modal-close
