/*
Color palette:
Tan:      216,202,168   #D8CAA8
ltgreen:  92,131,47     #5C832F
dkgreen:  40,73,7       #284907
brown:    56,37,19      #382513
greyish:  54,57,66      #363942
*/
* {
  box-sizing: border-box;
  color: #3E454C;
  font-family: 'Montserrat', sans-serif;
}

body {
  position: absolute;
  top: 0;
  bottom: 0;
  overflow-x: hidden;
}

h1, h2, h3, h4 {
  color: #363942;
  font-weight: bold;
}

h1, h4 {
  margin: 5px 0 5px 0;
}

nav {
  background-color: #363942;
  /* background: radial-gradient(ellipse at center, #2B2922 0%, #2B2922 100%); */
	padding: 5px;
	font-size: 22px;
  text-align: center;
}

nav h1 {
  color:white;
}

main {
  margin-bottom: 2em;
}

.section {
  padding-top: 1em;
  padding-bottom: 1em;
}

.div {
  /* background-color: #D8CAA8; */
	border-radius: 5px;
  margin: 5px auto;
  padding: 10px;
}

.section h4 {
  text-align: center;
}

#results, #errors {
  height: 175px;
  overflow-y: scroll;
}

#results li {
  margin-left: 50px;
}
/*
#progress {
  width: 1%;
  height: 30px;
  background-color: #00d1b2;
}*/

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  font-size: 9px;
  text-align: center;
  background-color: #363942;
  height: 2em;
}

footer p {
  margin: 5px 0 2px 0;
  color: white;  
}

footer a:visited {
  color: white; 
}

.added {
  color: hsl(171, 100%, 41%);
}

.error {
  color: hsl(348, 100%, 61%);
}

.hidden {
  display: none;
}

.mcenter {
  margin: 0 auto;
}

.tcenter {
  text-align: center;
}

.outline {
  outline: 1px solid black;
}
