* {
  box-sizing: border-box;
  color: #3E454C;
  font-family: 'Montserrat', sans-serif;
}

body {
  position: absolute;
  top: 0;
  bottom: 0;
  overflow-x: hidden;
  width: 100%;
}

h1, h2, h3, h4 {
  color: #363942;
  font-weight: bold;
}

h1, h4 {
  margin: 5px 0 5px 0;
}

nav {
  background-color: #363942;
	padding: 5px;
	font-size: 22px;
  text-align: center;
}

nav h1 {
  color:white;
}

nav p {
  font-size: 12px;
  color: white;
}

main {
  margin-bottom: 2em;
}

.section {
  padding-top: 1em;
  padding-bottom: 1em;
}

.div {
	border-radius: 5px;
  margin: 5px auto;
  padding: 10px;
}

.section h4 {
  text-align: center;
}

.sync-type-list {
  list-style: none !important;
  text-align: left;
  width: 200px;
  margin: 0 auto !important;
}

.sync-type-list li span {
  margin-left: 0.5rem;
}

#results, #errors {
  height: 175px;
  overflow-y: scroll;
}

#results li {
  margin-left: 50px;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  font-size: 9px;
  text-align: center;
  background-color: #363942;
  height: 2.5em;
}

footer p {
  margin: 5px 0 2px 0;
  color: white;  
}

footer:a, footer a:visited {
  color: white; 
  text-decoration: underline;
}

.added {
  color: hsl(171, 100%, 41%);
}

.error {
  color: hsl(348, 100%, 61%);
}

.hidden {
  display: none;
}

.mcenter {
  margin: 0 auto;
}

.tcenter {
  text-align: center;
}

.outline {
  outline: 1px solid black;
}
